# -*- coding: utf-8 -*-
##############################################################################
#Author: @SVAKSHA, Friday 25 July 2014 18:12:20 PM IST 
##############################################################################

#====================================================
# GENERAL
#====================================================
tags
MANIFEST
az.md

#====================================================
# DVCS
#====================================================
*.git
*.hg
.hgignore


#====================================================
# i18 / i10 TRANSLATIONS
#====================================================
*.mo


#====================================================
# EDITOR: Vi
#====================================================
*.swp


